<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

<!--            <a id="sessionTime">30:00</a>-->

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${session.LoginMembers.loginId}"></span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" th:attr="onclick=|userInfoEdit('${session.LoginMembers.loginId}')|" type="button">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        개인정보 수정
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="modal fade bs-example-modal-lg" id="userInfoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" id="modal-header">
                    <h4 class="modal-title" id="myModalLabel">개인정보 수정</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_detail" >
                    <table class="table table_custom">
                        <colgroup>
                            <col width="12%">
                            <col width="auto">
                            <col width="12%">
                            <col width="auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span class="required"></span>그룹명</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <select id="editroleId" name="editroleId">
                                        <option value="SUPER_ADMIN">SUPER_ADMIN</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER">USER</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="required"></span>이름</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <input id="editname" type="text" class="form-control" placeholder="" readonly>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><span class="required"></span>E-Mail</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <input id="editemail" type="text" class="form-control" placeholder="" readonly>
                                </div>
                            </td>
                        </tr>
<!--                                    <tr>-->
<!--                                        <th><span class="required"></span>핸드폰 번호</th>-->
<!--                                        <td colspan="3">-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <input id="editphone" type="text" class="form-control" placeholder="">-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr>-->
                        <tr id="editpassword" style="border-bottom: 1px solid #e5e5e5">
                            <th><span class="required"></span>현재 비밀번호</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <input id="password" type="password" class="form-control" placeholder="">
                                </div>
                                <div>
                                    <button id="btnEditPW" type="button" class="btn btn-primary">비밀번호 변경</button>
                                </div>
                                <div>
                                    <button id="btnEditPWCancel" type="button" class="btn btn-primary" style="display: none">변경 취소</button>
                                </div>
                            </td>
                        </tr>
                        <tr id="newpassword" style="display: none">
                            <th><span class="required"></span>새로운 비밀번호</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <input id="npassword" type="password" class="form-control" placeholder="">
                                </div>
                            </td>
                        </tr>
                        <tr id="checknewpassword" style="display: none">
                            <th><span class="required"></span>새 비밀번호 확인</th>
                            <td colspan="3">
                                <div class="col-sm-9">
                                    <input id="checknpassword" type="password" class="form-control" placeholder="">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="btnUserEdit" style="display: none">수정</button>
                    <button type="button" class="btn btn-primary" id="btncancel" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function userInfoEdit(email) {
            editType = "edit";

            $("h4.modal-title").text('개인 정보 수정');
            $("#editroleId option").not(":selected").attr("disabled", false);
            $("#editname").prop("readonly", true);
            $("#editemail").prop("readonly", true);
            $("#editroleId").attr("disabled",true);
            $("#newpassword").css('display','none');
            $("#checknewpassword").css('display','none');
            $("#btnEditPW").css('display','block');
            $("#btnEditPWCancel").css('display','none');
            $('#password').val('');
            $('#npassword').val('');
            $('#checknpassword').val('');

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/member/detail" + "?email=" + email,
                success: function (data) {
                    $("#editname").val(data.name);
                    $("#editemail").val(data.loginId);
                    $("#editroleId").val(data.role);
                }, error: function (e) {
                    console.log(e);
                }
            });

            $("#userInfoModal").modal('show');
        }

            $("#btnEditPW").click(function() {
            $("#btnEditPW").css('display','none');
            $("#btnEditPWCancel").css('display','block');
            $("#newpassword").css('display','');
            $("#checknewpassword").css('display','');
            $("#btnUserEdit").css('display','');
            $("#btncancel").css('display','none');
        });

            $("#btnEditPWCancel").click(function() {
            $("#btnEditPW").css('display','block');
            $("#btnEditPWCancel").css('display','none');
            $("#newpassword").css('display','none');
            $("#checknewpassword").css('display','none');
            $("#btncancel").css('display','');
            $("#btnUserEdit").css('display','none');
        });

            //확인 클릭시
            $("#btnUserEdit").click(function() {
            var newpassword = $('#npassword').val();
            var checknewpassword = $('#checknpassword').val();

            // var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
            var regExp = /^.*(?=^.{8,20}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;


            if (newpassword.length < 8) {
                alert("비밀번호는 8글자 이상 입력해야 합니다.");
                $("#editpassword").focus();
                return false;
                } else {
                    if (newpassword.match(regExp) == null) {
                    alert("비밀번호는 영문, 숫자, 특수문자 를 조합하여 최소 8자리 이상, 20자리 이하여야 합니다.");
                    $("#editpassword").focus();
                    return false;
                }
                if(newpassword != checknewpassword) {
                    alert("비밀번호가 서로 다릅니다.");
                $("#npassword").focus();
                return false;
            }
        }
            editStart();
        });

        function editStart() {
            var data = {
            // registerId : asciiToChar(userEmail),
            // roleId : $('#editroleId').val(),
            loginId : $('#editemail').val(),
            name : $('#editname').val(),
            password : $('#password').val(),
            newpassword : $('#npassword').val(),
            editType : editType
        };
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/member/edit",
                data: JSON.stringify(data),
                dataType: 'json',
                async : true,
                success: function (data) {
                    if (data.message=="SUCCESS") {
                        alert("등록되었습니다.");
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }, error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
</th:block>
</html>