h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}
.table{
	text-align:center;	
}
	
.table>tbody>tr>th{
	text-align:center;
	vertical-align:middle;	
}
.table>tbody>tr>td{
	vertical-align:middle;	
}
	
.table>thead>tr>th{
	text-align:center;
	vertical-align:middle;	
}
.table_custom>tbody>tr>td{
	text-align:left;
}
.table_custom>tbody>tr>td .radio_group{
	margin-left: 60px;
}

.txt_left {
	text-align:left;
}
#pushSelect>tr>td {
	text-align:center;
}