<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">영업행정지역 관리</h1>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <table class="table table_custom">
                                    <colgroup>
                                        <col width="12%">
                                        <col width="38%">
                                        <col width="12%">
                                        <col width="38%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>지역명</th>
                                        <td>
                                            <input type="text" class="form-control" id="searchName" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>코드</th>
                                        <td>
                                            <input type="text" class="form-control" id="searchCode" placeholder="">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-12 button_group">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" id="btnSearch" onclick="fnSearch()">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="70%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>지역</th>
                                    <th>상세지역</th>
                                    <th>행정코드</th>
                                    <th>중형택시</th>
                                    <th>대형,모범택시</th>
                                    <th>약자택시</th>
                                    <th>기타</th>
                                </tr>
                                </thead>
                                <tbody id="dataList">
                                <tr th:each="list,num : ${adminCodeList}">
                                    <td><input type="checkbox" th:value="${list.id}" ></td>
                                    <td><a th:text="${list.depth1}" th:attr="onclick=|commonAreaDetail('${list.id}')|" type="button"></a></td>
                                    <td><span th:text="${list.depth2}"></span></td>
                                    <td><span th:text="${list.admcode}"></span></td>
                                    <td><span th:text="${list.fareType1}"></span></td>
                                    <td><span th:text="${list.fareType2}"></span></td>
                                    <td><span th:text="${list.fareTypeW}"></span></td>
                                    <td><span th:text="${list.fareTypeEtc}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-12">
                                <div class="paging_simple_numbers" id="datatable-fixed-header_paginate">
                                    <ul class="pagination" id="pagination"></ul>
                                    <div class="pull-right">
                                        <span id="adminBtnGroup">
                                            <button type="button" class="btn btn-primary" id="btnAdd" data-target=".bs-example-modal-lg">등록</button>
                                            <button type="button" class="btn btn-danger" id="del_btn">삭제</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">영업행정지역 등록</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body" id="modal_upload" >
                        <table class="table table_custom" id="modal_table">
                            <colgroup>
                                <col width="20%">
                                <col width="30%">
                                <col width="20%">
                                <col width="30%">
                            </colgroup>
                            <tbody id="modal_tbody">
                            <tr>
                                <th><span class="required"></span>지역</th>
                                <td colspan="3">
                                    <div class="col-sm-9">
                                        <select name="sido1" id="sido1"></select>
                                        <select name="gugun1" id="gugun1"></select>
                                        <button type="button" class="btn btn-primary" id="btnCode">코드 조회</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required"></span>행정코드</th>
                                <td colspan="3">

                                    <div class="col-sm-9" style="width: 100%;">
                                        <select>
                                            <option value="">-- 선택 --</option>
                                            <option th:each="val : ${list}" th:value="${val?.entityIdx}"
                                                    th:utext="${val?.entityName}">
                                            </option>
                                        </select>
                                        <input id="admcode" type="text" class="form-control" placeholder="" disabled="true">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required"></span>중형택시</th>
                                <td colspan="3">
                                    <div class="col-sm-9" style="width: 100%;">
                                        <input id="fare_type_1" type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required"></span>대형,모범택시</th>
                                <td colspan="3">
                                    <div class="col-sm-9" style="width: 100%;">
                                        <input id="fare_type_2" type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required"></span>약자택시</th>
                                <td colspan="3">
                                    <div class="col-sm-9" style="width: 100%;">
                                        <input id="fare_type_w" type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="required"></span>기타</th>
                                <td colspan="3">
                                    <div class="col-sm-9" style="width: 100%;">
                                        <input id="fare_type_etc" type="text" class="form-control" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">등록</button>
                </div>
            </div>
        </div>
    </div>

<script id="list-template" type="text/x-handlebars-template">
    {{#each adminCodeList }}
    <tr>
        <td><input type="checkbox" value="{{id}}"></td>
        <td id="areaName"><a href="javascript:commonAreaDetail('{{id}}')">{{depth1}}</a></td>
        <td>{{depth2}}</td>
        <td>{{admcode}}</td>
        <td>{{fareType1}}</td>
        <td>{{fareType2}}</td>
        <td>{{fareTypeW}}</td>
        <td>{{fareTypeEtc}}</td>
    </tr>
    {{else}}
    <tr>
        <td colspan="9" align="center">데이터를 조회 할 수 없습니다.</td>
    </tr>
    {{/each}}
</script>

<script type="text/javascript">
    $(function() {
        $('#datetimepicker').datetimepicker();
    });

    var search = {};

     function fnSearch() {
         var searchName = $('#searchName').val();
         var searchCode = $('#searchCode').val();

         search.searchName = searchName;
         search.searchCode = searchCode;
         search.currentPage = 1;
         fire_ajax_submit(search, true);
     }

    function commonAreaDetail(id) {
        var sessionUserAuth = "[[${session.LoginMembers.role}]]";
        editType = "update";

        $("h4.modal-title").text("영업행정지역 변경");

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/adminCode/detail" + "?id=" + id,
            success: function (data) {
                if (sessionUserAuth != "SUPER_ADMIN") {
                    $("#btnSubmit").css("display", "none");
                } else {
                    $("#btnSubmit").css("display", "inline-block");
                }
                $("#admcode").val(data.admcode);
                $("#fare_type_1").val(data.fareType1);
                $("#fare_type_2").val(data.fareType2);
                $("#fare_type_w").val(data.fareTypeW);
                $("#fare_type_etc").val(data.fareTypeEtc);
                $("#sido1").val(data.depth1);
                $("#gugun1").val(data.depth2);
            }, error: function (e) {
                console.log(e);
            }
        });

        $("#myModal").modal('show');
    }

    function fire_ajax_submit(search, refresh) {
        $('#btnSearch').prop('disabled', true);

        if (search == null || search == 'undefined' ) {
            search = {};
        }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/adminCode/search",
            data: JSON.stringify(search),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                $('#btnSearch').removeAttr('disabled');

                window.totalSize = data.totalSize;
                window.positionCounter = window.totalSize - (search.currentPage - 1) * 10;

                var source = $("#list-template").html();
                var template = Handlebars.compile(source);
                var html = template(data);
                $('#dataList').html(html);

                if (refresh) {
                    var totalSize = data.totalSize;
                    var perpage =  10;
                    var totalPages = (totalSize/perpage);
                    if(totalSize % perpage > 0 || totalPages == 0) {
                        totalPages = totalPages + 1;
                    }
                    // redraw
                    window.defaultOps.totalPages = totalPages;
                    $('#pagination').twbsPagination('destroy');
                    $('#pagination').twbsPagination(window.defaultOps).on('page', window.pagingCallback);
                }
            }, error: function (e) {
                //검색 버튼 활성화
                $('#btnSearch').removeAttr('disabled');
                console.dir(e);
            }
        });
    }

    window.onload = function() {

        var sessionUserAuth = "[[${session.LoginMembers.role}]]";

        if (!sessionUserAuth.includes("ADMIN")) {
            $("#adminBtnGroup").css("display" , "none");
        }

        let visiblePages = 10;
        let totalSize = "[[${totalSize}]]";
        let perpage = "[[${perPage}]]";
        let totalPages = (totalSize/perpage);
        if(totalSize % perpage > 0 || totalPages == 0){
            totalPages = totalPages + 1;
        }

        // Handlebar Counter
        Handlebars.registerHelper('position', function() {
            return window.positionCounter--;
        });

        // Paging Option
        var defaultOps = {
            totalPages: totalPages,
            visiblePages: visiblePages,
            startPage : 1,
            first: "<<", last : ">>",
            prev : "<", next : ">",
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                console.info(page + ' (from options)');
            }
        };

        // Paging Callback Func
        var pagingCallback = function (event, page) {
            console.info(page + ' (from event listening)');
            search.currentPage = page;
            fire_ajax_submit(search);
        };

        window.defaultOps = defaultOps;
        window.pagingCallback = pagingCallback;
        window.totalSize = totalSize;
        $('#pagination').twbsPagination(defaultOps).on('page', pagingCallback);
        datepickerInit();

        $("#btnAdd").click(function() {
            editType = "add";
            $("h4.modal-title").text('영업행정지역 등록');
            if (sessionUserAuth != "SUPER_ADMIN") {
                $("#btnSubmit").css("display", "none");
            } else {
                $("#btnSubmit").css("display", "inline-block");
            }

            $("#depth1").val("");
            $("#admcode").val("");
            $("#fare_type_1").val("");
            $("#fare_type_2").val("");
            $("#fare_type_w").val("");
            $("#myModal").modal('show');
        });

        function datepickerInit(){
            $('#start_dt').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        }

        $("#del_btn").click(function() {
            let idxArray = new Array();

            $("#dataList tr").find("input[type=checkbox]:checked").each(function () {
                idxArray.push(this.value);
            });

            if (idxArray.length > 0) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/common/delete",
                    data: JSON.stringify({idxArray : idxArray}),
                    dataType: 'json',
                    async : true,
                    success: function (data) {
                        if (data.message=="SUCCESS") {
                            alert("삭제되었습니다.");
                            location.reload();
                        }else{
                            alert("삭제에 실패하였습니다.\n 관리자에게 문의해주세요.");
                        }
                    }, error: function (e) {
                        console.log(e);
                    }
                });
            }
        });

        $("#btnCode").click(function() {
            var sidoContent = $('#sido1 option:selected').val();
            var gugunContent = $('#gugun1 option:selected').val();

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/adminCode/detailCode?sidoContent=" + sidoContent + "&gugunContent=" + gugunContent,
                success: function (data) {
                    $("#admcode").val(data);

                }, error: function (e) {
                    console.log(e);
                }
            });

        });

         //확인 클릭시
        $("#btnSubmit").click(function() {

            if($('#area').val() == null || $('#area').val() == '') {
                alert('지역을 선택해주세요');
                return false;
            }
            if($('#code').val() == null || $('#code').val() == '') {
                alert('코드를 입력해주세요');
                return false;
            }
            submitStart();

        });

        function submitStart() {
            var data = {
                depth1 : $('#depth1').val(),
                depth2 : $('#depth2').val(),
                admcode : $('#admcode').val(),
                fare_type_1 : $('#fare_type_1').val(),
                fare_type_2 : $('#fare_type_2').val(),
                fare_type_w : $('#fare_type_w').val()
            };

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/adminCode/edit",
                data: JSON.stringify(data),
                dataType: 'json',
                async : true,
                success: function (data) {
                    if (data.message=="SUCCESS") {
                        alert("등록되었습니다.");
                        location.reload();
                    } else {
                        alert("등록에 실패하였습니다.\n 관리자에게 문의해주세요.");
                    }
                }, error: function (e) {
                    console.log(e);
                }
            });
        }

        var area0 = ["시/도 선택","서울","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
        var area1 = ["전체","강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"];
        var area2 = ["전체","계양구","남구","남동구","동구","부평구","서구","연수구","중구","강화군","옹진군"];
        var area3 = ["전체","대덕구","동구","서구","유성구","중구"];
        var area4 = ["전체","광산구","남구","동구",     "북구","서구"];
        var area5 = ["전체","남구","달서구","동구","북구","서구","수성구","중구","달성군"];
        var area6 = ["전체","남구","동구","북구","중구","울주군"];
        var area7 = ["전체","강서구","금정구","남구","동구","동래구","부산진구","북구","사상구","사하구","서구","수영구","연제구","영도구","중구","해운대구","기장군"];
        var area8 = ["전체","고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
        var area9 = ["전체","강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
        var area10 = ["전체","제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
        var area11 = ["전체","계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
        var area12 = ["전체","군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
        var area13 = ["전체","광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
        var area14 = ["전체","경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
        var area15 = ["전체","거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
        var area16 = ["전체","서귀포시","제주시","남제주군","북제주군"];


        // 시/도 선택 박스 초기화

        $("select[name^=sido]").each(function() {
            $selsido = $(this);
            $.each(eval(area0), function() {
                $selsido.append("<option value='"+this+"'>"+this+"</option>");
            });
            $selsido.next().append("<option value=''>구/군 선택</option>");
        });


        // 시/도 선택시 구/군 설정

        $("select[name^=sido]").change(function() {
            var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array
            var $gugun = $(this).next(); // 선택영역 군구 객체
            $("option",$gugun).remove(); // 구군 초기화

            if(area == "area0")
                $gugun.append("<option value=''>구/군 선택</option>");
            else {
                $.each(eval(area), function() {
                    $gugun.append("<option value='"+this+"'>"+this+"</option>");
                });
            }
        });


    }
</script>
</div>
</html>